@font-face {
  font-family: 'IRANSans_Light';
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src: url('~assets/fonts/IRANSans_Light.ttf') format('truetype');
}
.txt-light{
  font-family: "IRANSans Light";
}
.txt{
  font-family: "IRANSans Medium";
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
